.box-categoria-select-div {
    width: 163px;
    height: 191px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.box-categoria-select-button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.box-categoria-select-img {
    width: 100px;
    height: 100px;
}

.box-categoria-select-text {
    font-family: var(--fonte);
    font-weight: bolder;
}

.box-categoria-select-button:hover {
    color: #ff0000;
}