.box-manual-cadastrados-div{
    width: 665px;
    height: 385px;
}

.box-manual-cadastrados-span{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.box-manual-cadastrados-button{
    width: 38px;
    height: 36px;
    background-color: #ffffff00;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    cursor:pointer;
}

.box-manual-cadastrados-scrool-span{
    overflow:auto; 
    height: 100%;
    width: 100%;
}

.Box-edit-produto-text{
    font-family: var(--fonte);
}

.box-manual-cadastrados-menu{
    width: 50%;
    height: 544px;
    background-color: black;
    position: absolute;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.box-manual-cadastrados-menu-fechar{
    display: none;
}

.box-manual-cadastrados-button{
    width: 38px;
    height: 36px;
    background-color: #ffffff00;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    cursor:pointer;
}
